:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #131862;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding: 0;
  margin: 0;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

a {
  position: relative;
  z-index: 1;
  color: #fffafa;
  cursor: pointer;
}

h1 {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 20%;
  text-transform: uppercase;
  text-align: center;

  font-size: clamp(1rem, 4rem, 2vw);
}

.floor {
  width: 100vw;
  height: 5rem;
  background-color: #fffafa;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.floor:after {
  content: "";
  background-color: #fffafa;
  width: 30rem;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 8rem;
  border-top-right-radius: 100%;
  border-top-left-radius: 75%;
}

.floor:before {
  content: "";
  background-color: #fffafa;
  width: 30rem;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 8rem;
  border-top-right-radius: 100%;
  border-top-left-radius: 75%;
}

svg {
  padding: 2rem;
}
